<section class="bg-white  w-full h-screen overflow-y-hidden ">
  <header class="flex items-center justify-between pl-[28px] pr-[90px] pt-[11px]">
    <div class="flex gap-10 items-center">
      <img class="w-[80px]" src="assets/images/logo.jpg">
      <h1 class="text-2xl font-semibold ">Quiz Dashboard</h1>
    </div>
    <div class="flex gap-10 items-center">
      <div class="relative flex w-full flex-wrap items-stretch mb-3">

        <input class="form-input px-3 py-2 placeholder-gray-400 text-gray-700 relative bg-white rounded-lg text-sm shadow outline-none focus:outline-none focus:shadow-outline w-full pr-10" placeholder="Search"
               type="search"/>
        <span
          class="z-10 h-full leading-snug font-normal  text-center text-gray-400 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3">
                                <svg class="h-5 w-5 -mt-1" fill="none" stroke="currentColor"
                                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2"/>
                                </svg>
                            </span>
      </div>
      <div class="flex relative w-[60px] h-[40px]  bg-orange-500 justify-center items-center m-1 mr-2 text-xl rounded-full text-white">U </div>
    </div>
  </header>
  <section class="flex mt-5  ">

    <aside class="w-[160px]  h-screen bg-[#02A9D6] pt-[100px] pl-[66px] self-center rounded-tr-[50px] ">
      <div class="flex flex-col gap-5">

        <div (click)="ShowAreafun()" class="bg-white cursor-pointer p-2 rounded-l-full">
          <app-home-svg  ></app-home-svg>
        </div>

        <div (click)="ShowAreafun()"  class="bg-white cursor-pointer p-2 rounded-l-full">
        <app-items-svg></app-items-svg>
        </div>

        <div class="bg-white p-2 rounded-l-full">
          <app-person-svg></app-person-svg>
        </div>

      </div>
    </aside>

    <main class="w-full  rounded-3xl ">
      <app-principal-area *ngIf="!showArea"></app-principal-area>
      <app-items-area *ngIf="!showArea" ></app-items-area>
      <app-question-table *ngIf="showArea"></app-question-table>
    </main>

  </section>
</section>
