<div class="relative overflow-x-auto overflow-y-auto max-h-[48px]:bg-red-400  shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr  >
      <th *ngFor="let field of fields"  scope="col" class="px-6 py-3">
           {{field}}
      </th>
      <th scope="col" class="px-6 py-3">
        &nbsp;
      </th>
    </tr>
    </thead>
    <tbody>
      <ng-content></ng-content>
    </tbody>
  </table>
</div>
