<app-form>
  <app-input label="Text" type="text" placeHolder="Enter a Text" />
  <app-input label="Answers Count" type="number" placeHolder="Enter a Answers Count" />
  <app-input label="Correct Answers" type="number" placeHolder="Enter a Correct Answers" />
  <app-input label="Incorrect Answers" type="number" placeHolder="Enter a Incorrect Answers" />
  <app-input label="Incorrect Answers" type="number" placeHolder="Enter a Incorrect Answers" />
  <app-input label="Points" type="number" placeHolder="Enter a Points" />
  <ng-container button>
    <app-button type="button" text="Create a Question" class="text-white inline-flex w-full justify-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" ></app-button>
  </ng-container>
</app-form>
