<div class="h-[0px]">
  <div class="bg-[#02A9D6] rounded-t-2xl pt-1 h-[34px] text-center  border-b border-gray-100">
    <h4 class="font-semibold text-md text-gray-100">Subjects</h4>
  </div>

  <div *ngFor="let dataSubject of dataSubjects; let j = index">
    <h2 >
      <button (click)="showInfosSubjectFunction(j)" type="button" class="flex items-center justify-between w-full p-2 font-medium rtl:text-right text-gray-500 border border-t-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3" >
        <span> {{dataSubject.title |  titlecase}}</span>
        <svg [ngClass]="{'rotate-0':showInfosSubject[j],'rotate-180':!showInfosSubject[j]}" class="w-3 h-3 shrink-0" fill="black" viewBox="0 0 10 6">
          <path stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>

    <div class="border-b border-gray-200" [ngStyle]="{'display': showInfosSubject[j] ? 'block' : 'none'}">
      <div class="p-5 flex justify-between items-center border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
        <p class="mb-2 text-gray-500 dark:text-gray-400"> parent:<span>{{dataSubject.parent}}</span></p>
        <p class="mb-2 text-gray-500 dark:text-gray-400">child:<span>{{dataSubject.childs}}</span></p>
      </div>
    </div>
  </div>
  <div class="bg-black pt-1 h-[34px] text-center  border-b border-gray-100">
    <h4 class="font-semibold text-md text-white">More Details</h4>
  </div>


</div>
